<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <div class="nav-div">
        <a class="navbar-brand" href="/"><h3><span>Smart</span>Create</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/create">Create-Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">View-Tabel</a>
            </li>
          </ul>
          <div class="btn-div">
            <a  class="login" href="/signup">Sign-up</a>
            <a class="signup" href="/login">Log-in</a>
          </div>
        </div>
      </div>
    </div>
  </nav>