<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head.ejs')%>
</head>
<body>
    <div class="landing">
     <%- include('partials/nav.ejs')%>

     <div class="container">
      <div class="row">
        <div class="col p-5 text-dark">
          <h1 class="content-text">Having difficulty creating your personal Timetable</h1>
          <h3 class="content-name">Smart-Create is here for you</h3>
          <small class="text">We provide to you the best schedule and organised timetable with ease and less stress to simplify your study hours</small>
          <br>
          <div class="btn-dev">
            <a class="text-btn" href="/create">Create Yours</a>
            <a  class="login" href="/signup">Sign-up</a>
          </div>
        </div>
        <div class="col" id="svg">
          <img src="/images/illustration.jpg" alt="image">
        </div>
      </div>

     </div>
      
    </div>

    <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
    
</body>
</html>


